<div>
  <table class="table table-bordered">
    <tr>
      <td>Name</td>
      <td><input class="form-control" type="text" [(ngModel)]="name"></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><input class="form-control" type="text" [(ngModel)]="email"></td>
    </tr>
    <tr>
      <td>Group</td>
      <td><input class="form-control" type="text" [(ngModel)]="group"></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button class="btn btn-primary" (click)="getData()">Add</button>
      </td>
    </tr>
  </table>

</div>
